p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  font-size: 24px;
  margin-bottom: 10px;
}

.currency {
  font-size: 12px;
}

.change {
  font-size: 16px;
  color: green;
  margin-bottom: 10px;

}

.after_hours {
  font-size: 16px;

}

.after_hours_change {
  color: red;
}
