p {
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet_header {
  margin-bottom: 10px;
}

.tweet_author {
  font-weight: bold;
}

.tweet_info {
  color: rgb(100, 100, 100);
}

.tweet {
  width: 600px;
  line-height: 25px;
  margin-bottom: 20px;
}

.twitter_handle {
  color: rgb(29, 155, 240);
}